@import 'reset';

$border-radius: 5px;

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 36px;
  padding-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tile {
  margin: 10px;
  width: 220px;
  height: 220px;
  background: red;
  border-radius: $border-radius;
  cursor: pointer;
  position: relative;

  .overlay {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: $border-radius;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.2s;

    p {
      position: relative;
      top: 40%;
      font-size: 20px;
      color: #fff;
    }
  }

  &.hover {
    top: 2px;
    left: 2px;
    transition: 0.2s;

    .overlay {
      opacity: 1;
    }
  }

  &:active {
    top: 4px;
    left: 4px;
  }
}